body{
    background-image: url("https://img.freepik.com/premium-photo/spring-rain-blooming-garden-concept-freshness-nature-weather-seasonal-background_548821-34347.jpg?w=2000");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
