#div1{
    border: 1px solid black;
    width: 100px;
    height: 20px;
    overflow: hidden;
    text-wrap-mode:nowrap ;
}
#div1:hover{
    width: 200px;
    transition: width 3s linear 2s;
}
#card{
    margin: auto;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    /* transform: rotateX(0deg); */
    /* transform: skew(0deg,0deg);
    transform: scale(1,1); */
    transform: translate(0,0);
    transition: transform 3s linear;
}
#card:hover{
    /* transform: rotateX(180deg); */
    /* transform: scale(1.5,1.5); */
    transform: translate(20px,20px);
    /* transform: skew(45deg,70deg); */
    transition: transform 3s linear;
}
#card div{
     transform: translate(0,0);
    transition: transform 3s linear;
}
#card:hover div{
 transform: translate(20px,20px);
 transition: transform 3s linear;
}