:root{
    --primary-color: beige;
    --secondary-colo: burlywood;
    --text-color: rgb(96, 6, 6) ;
}
*{
    background-color: var(--primary-color);
}
table{
    width: 1000px;
    height: 150px;
    background-color: var(--primary-color);
    border: 3px double var(--text-color);
    border-radius: 5px;
}
th{
    background-color: var(--secondary-colo);
}
td{
    background-color: var(--primary-color);
/* }
div{
   
} */
.description{
    border-color: black;
}
/* #footer{
    text-align: center;

} */
